link(rel="stylesheet", type="text/css", href="index.css")

input.h1(type="text" placeholder="Title" style="width:100%;")
HR
textarea.regular#body(placeholder="Write your text here..." style="width:100%; height:80%;")
